<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daily Report System</title>
    <link rel="stylesheet" th:href="@{/css/employee/register.css}">
</head>
<body>
    <h1>従業員登録</h1>
    <form method="post" th:action="@{/employee/register}" th:object="${employee}">
    <label for="authentication.code">社員番号</label>
    <input type="text" th:field="*{authentication.code}">
    <br>
    <label for="name">氏名</label>
    <input type="text" th:field="*{name}" th:errorclass="err">
    <span th:errors="*{name}" class="err"></span>
    <br>
    <label for="authentication.password">パスワード</label>
    <input type="text" th:field="*{authentication.password}">
    <br>

    <label for="authentication.role">権限</label>
    <select th:field="*{authentication.role}" th:errorclass="err">
        <option value="" th:text="選択してください">
        <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}" th:value="${item}" th:text="${item}">
    </select>
    <span th:errors="*{authentication.role}" class="err"></span>
    <br>

    <input type="submit" value="投稿">
    <p><a th:href="@{/employee/list}">一覧に戻る</a></p>
    </form>
</body>
</html>