<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daily Report System</title>
    <link rel="stylesheet" th:href="@{/css/employee/update.css}">
</head>
<body>
    <h1>従業員編集</h1>

    <form method="post" th:action="@{/employee/update/{id}/(id=${employee.id})}" th:object="${employee}">
    <input type="hidden" th:field="*{id}">

    <label for="authentication.code">社員番号</label>
    <input th:text="*{authentication.code}" type="hidden" th:field="*{authentication.code}">
    <br>

    <label for="name">氏名</label>
    <input type="text" th:field="*{name}" th:errorclass="err">
    <span th:errors="*{name}" class="err"></span>
    <br>

    <label for="password">パスワード</label>
    <input type="password" id="password" name="password" value="">
    <input type="hidden" th:field="*{authentication.password}">

    <br>

    <label for="authentication.role">権限</label>

    <select th:field="*{authentication.role}" th:errorclass="err">
        <option value="" th:text="選択してください">
        <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}" th:value="${item}" th:text="${item}">
    </select>
    <span th:errors="*{authentication.role}" class="err"></span>
    <br>
    <input type="submit" value="投稿">
    </form>

    <p><a th:href="@{/employee/delete/{id}/(id=${employee.id})}">従業員情報を削除する</a></p>
    <p><a th:href="@{/employee/list}">一覧に戻る</a></p>


</body>
</html>